main
	.container
		.description
			.description__container
				h2.description__header Фотосессия#[br] в вертолете
				.description__photo
					img.description__photo-img#description-photo(src="assets/img/description-photo.png" alt="description-photo")
					span.description__photo-img-play#description-play
					<iframe id="description-video" width="554" height="374" src="//www.youtube.com/embed/p2X4U1mQzoE?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
					img.description__photo-img--mob(src="assets/img/description-photo-mob.png" alt="description-photo")
				p.description__text Полет на вертолете это прекрасная возможность получить новые ощущения! А наш замечательный фотограф запечатлит лучшие моменты!
				ul.description__feature-list
					li.description__feature.description__feature-record 3 часа съемки
					li.description__feature.description__feature-rus Русский
					li.description__feature.description__feature-dollar от #[span.description__feature-dollar--bold 850$]
					li.description__feature.description__feature-dubai Дубаи
					li.description__feature.description__feature-photos Более 50 фотографий
					li.description__feature.description__feature-city Москва
					li.description__feature.description__feature-answers Готовы ответить на любые вопросы
				.description__feature-reviews-container
					span.description__feature.description__feature-reviews.
						Более #[span.description__feature-reviews--bold 50] отзывов с оценкой
					.stars__container.description__feature-stars-container
						span.stars__star
						span.stars__star
						span.stars__star
						span.stars__star
						span.stars__star
		.photos
			h3.photos__header Фотографии пакета:
			ul.photos__list
				li.photos__item
					img.photos__image(src="assets/img/01.png" alt="photos-image")
				li.photos__item
					img.photos__image(src="assets/img/02.png" alt="photos-image")
				li.photos__item
					img.photos__image(src="assets/img/03.png" alt="photos-image")
				li.photos__item
					img.photos__image(src="assets/img/04.png" alt="photos-image")
				li.photos__item
					img.photos__image(src="assets/img/03.png" alt="photos-image")
				li.photos__item
					img.photos__image(src="assets/img/04.png" alt="photos-image")
				li.photos__item
					img.photos__image(src="assets/img/02.png" alt="photos-image")
				li.photos__item
					img.photos__image(src="assets/img/03.png" alt="photos-image")
				#photos-container
					img.photos__image(src="assets/img/03.png" alt="photos-image")
					img.photos__image(src="assets/img/04.png" alt="photos-image")
					img.photos__image(src="assets/img/02.png" alt="photos-image")
					img.photos__image(src="assets/img/01.png" alt="photos-image")
					img.photos__image(src="assets/img/02.png" alt="photos-image")
					img.photos__image(src="assets/img/03.png" alt="photos-image")
					img.photos__image(src="assets/img/04.png" alt="photos-image")
					img.photos__image(src="assets/img/01.png" alt="photos-image")
			ul.photos__list#photos__list--carousel.owl-carousel.owl-theme
				li.photos__item
					img.photos__image(src="assets/img/01.png" alt="photos-image")
				li.photos__item
					img.photos__image(src="assets/img/02.png" alt="photos-image")
				li.photos__item
					img.photos__image(src="assets/img/03.png" alt="photos-image")
				li.photos__item
					img.photos__image(src="assets/img/04.png" alt="photos-image")
				li.photos__item
					img.photos__image(src="assets/img/03.png" alt="photos-image")
				li.photos__item
					img.photos__image(src="assets/img/04.png" alt="photos-image")
				li.photos__item
					img.photos__image(src="assets/img/02.png" alt="photos-image")
				li.photos__item
					img.photos__image(src="assets/img/03.png" alt="photos-image")
			button.photos__all-photos#show-all-photos Показать все фото
		.about
			.about__text-container
				h3.about__header Об организаторе:
				p.about__text Всем привет! Я фотограф Мария! И по мимо фотосъемки я так же являюсь членом группы экспертов туристической отрасли, которые хорошо разбираются в маркетинге, операциях и услугах обслуживания клиентов, специализирующихся на совместном использовании и частных турах.
				p.about__text Сначала мы (я и моя команда) изучаем интересы клиентов, а затем придумываем подходящее решение, которое соответствует бюджету и планам клиента. Мы никогда не зависим от субпоставщиков и не свяжемся…
				p.about__text.about__text--hidden Сначала мы (я и моя команда) изучаем интересы клиентов, а затем придумываем подходящее решение, которое соответствует бюджету и планам клиента. Мы никогда не зависим от субпоставщиков и не свяжемся… Сначала мы (я и моя команда) изучаем интересы клиентов, а затем придумываем подходящее решение, которое соответствует бюджету и планам клиента. Мы никогда не зависим от субпоставщиков и не свяжемся…
				button.about__button Читать еще
				h3.about__header Что я предоставлю:
				p.about__text Встречу вас на машине после длительного перелёта. #[br] Качественный подбор места и локации для вашей съемки. #[br] При необходимости всегда возможно прерваться на обед/ужин. Более #[span.about__text--bold 50] фотографий на выходе с обработкой и замечательные впечатления о Дубае !
				p.about__text.about__text--hidden Сначала мы (я и моя команда) изучаем интересы клиентов, а затем придумываем подходящее решение, которое соответствует бюджету и планам клиента. Мы никогда не зависим от субпоставщиков и не свяжемся… Сначала мы (я и моя команда) изучаем интересы клиентов, а затем придумываем подходящее решение, которое соответствует бюджету и планам клиента. Мы никогда не зависим от субпоставщиков и не свяжемся…
				button.about__button Читать еще
			.about__photo-container
				img.about__img(src="assets/img/about-photo.png" alt="about-image")
				h4.about__photo-header Марина Иванова
				span.about__photo-text Фотограф
				a.about__link(href="#") Показать больше #[br] информации о фотографе
		.timing
			h3.timing__header Доступная съемка #[br] в ближайшее время:
			.timing__container
				.timing__date-container
					p.timing__date Пятница, 14 сентября
					button.timing__date-button
				.timing__info-container
					.timing__info
						span.timing__time 15:00 - 18:00
						span.timing__price 1500₽
						span.timing__text Осталось — 1 место
					button.timing__info-button Выбрать
				.timing__info-container.timing__info-container--bottom
					.timing__info
						span.timing__time 19:00 - 22:00
						span.timing__price.timing__price--second 1500₽
						span.timing__text Осталось — 1 место
					button.timing__info-button Выбрать
				.description__feature-reviews-container.timing__info-reviews-container
					span.description__feature.description__feature-reviews.timing__info-reviews.
						Более #[span.description__feature-reviews--bold.timing__bold-text 50] отзывов с оценкой
					.stars__container.timing__stars-container
						span.stars__star.timing__star
						span.stars__star.timing__star
						span.stars__star.timing__star
						span.stars__star.timing__star
						span.stars__star.timing__star
.map
	<iframe class="map-container" src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac2f05e9afdc8a7b99b3fd475fc0f0abdf50a0aacadd6ab1f6bba38ede0ac0bb8&amp;source=constructor" height="509"></iframe>
	.container
		.map__meeting-info.meeting-info
			ul.meeting-info__list
				li.meeting-info__item
					span.meeting-info__number 1
					p.meeting-info__text Где встречаемся?
					p.meeting-info__description Москва
				li.meeting-info__item
					span.meeting-info__number 2
					p.meeting-info__text Время съемки
					p.meeting-info__description 3 часа
				li.meeting-info__item
					span.meeting-info__number 3
					p.meeting-info__text Мест осталось:
					p.meeting-info__description 2 места
			ul#meeting-info__list--mob.owl-carousel.owl-theme
				li.meeting-info__item
					span.meeting-info__number 1
					p.meeting-info__text Где встречаемся?
					p.meeting-info__description Москва
				li.meeting-info__item
					span.meeting-info__number 2
					p.meeting-info__text Время съемки
					p.meeting-info__description 3 часа
				li.meeting-info__item
					span.meeting-info__number 3
					p.meeting-info__text Мест осталось:
					p.meeting-info__description 2 места
			.meeting-info__item-author
				img.meeting-info__author-photo(src="assets/img/map-photo.png" alt="meeting-author-photo")
				p.meeting-info__author-text Мария Иванова
				p.meeting-info__author-description Фотограф
				a.meeting-info__author-link(href="#") Показать больше информации
.reviews
	.container
		h3.reviews__header Отзывы:
		.reviews__container
			img.reviews__img(src="assets/img/reviws-01.png" alt="reviews-img")
			h4.reviews__name Валерия Антонова
			span.reviews__position Арт-директор
			.stars__container.reviews__stars-container
				span.stars__star
				span.stars__star
				span.stars__star
				span.stars__star
				span.stars__star
			span.reviews__text Супер! Я бы заказала съемку снова!
			p.reviews__description Хотим выразить огромную благодарность вашей компании! Получили море ощущений, все прошло просто замечательно. Фотки получились великолепные, отдельное спасибо фотографу!
			span.reviews__date 27 Апреля, 2019г.
		.reviews__container
			img.reviews__img(src="assets/img/reviws-02.png" alt="reviews-img")
			h4.reviews__name Виталий Петров
			span.reviews__position Фотограф
			.stars__container.reviews__stars-container
				span.stars__star
				span.stars__star
				span.stars__star
				span.stars__star
				span.stars__star
			span.reviews__text Супер! Я бы заказала съемку снова!
			p.reviews__description.reviews__description--mob Восторг! :) Очень понравилось :) Захватили последний теплый, солнечный октябрьский день :) Впечатлило всё: сам вертолет, взлет, полёт, приземление. #[br] Организация полёта отличная. Спасибо!
			span.reviews__date 19 Апреля, 2019г.
		.reviews__container.reviews__container--mob
			img.reviews__img(src="assets/img/reviws-03.png" alt="reviews-img")
			h4.reviews__name Джим Керри
			.stars__container.reviews__stars-container
				span.stars__star
				span.stars__star
				span.stars__star
				span.stars__star
				span.stars__star
			span.reviews__text Супер! Я бы заказала съемку снова!
			p.reviews__description Круто-круто-круто!!! Отмечали мой ДэРэ. Отлично провели время!!! Кстати закуски были вкусными и сытными))Мы с собой ничего не брали. Сами много фоткались,поэтому воспоминания обалденные!!!)) А еще нам всем напечатали по сертификату воздухоплавателя, правда некоторые ленятся за ним съездить))) Но все равно приятно. Короче, Презентстар – проверено. Оценка: пять!
			span.reviews__date 11 Апреля, 2019г.
		button.reviews__show-all-button Показать Все (134)