footer
  .container
    .footer__top-section
      a.footer__logo(href="index.html")
      ul.footer__social-list
        li.footer__social-item
          a.footer__social-link.footer__social-vk(href="#")
        li.footer__social-item
          a.footer__social-link.footer__social-facebook(href="#")
        li.footer__social-item
          a.footer__social-link.footer__social-instagram(href="#")
        li.footer__social-item--ru
          a.footer__social-link--ru(href="#") RU
.footer__bottom-section
  .container
    a.footer__mastercard-icon(href="#")
    a.footer__visa-icon(href="#")
    a.footer__paypal-icon(href="#")
    a.footer__ru(href="#") RU
    a.footer__phone(href="tel:88007000000") Тех. поддержка: 8(800)700-00-00
    span.footer__copyright © 2018 HELYFLY. All Rights Reserved.