header
  .container
    .header-top
      a.header-top__logo(href="index.html")
      a.header-top__mobile-link Москва
      span.header-top__tel-text Телефон:
      a.header-top__tel(href="tel:88001231212") 8(800)-123-12-12
  .header-middle
    .container
      b.header-middle__text.
        Эксклюзивная #[span.header-middle__text--color фотосессия] при полете#[br] на вертолете
      .header-middle__price
        span.header-middle__price-text Стоимость:
        span.header-middle__price-amount 1500₽
        span.header-middle__price-circle
        span.header-middle__price-percent
      button.header-middle__button Забронировать место