.container
  position: relative
  width: 1140px
  margin: 0 auto
  padding-left: 20px
  padding-right: 20px
  @media screen and (max-width: $laptop)
    width: 960px
  @media screen and (max-width: $tablet)
    width: 730px
    padding-left: 15px
    padding-right: 15px
  @media screen and (max-width: $mobile-large)
    width: 385px
  @media screen and (max-width: $mobile)
    position: relative
    width: 290px
    margin: 0 auto
    padding-left: 15px
    padding-right: 15px
