.footer__top-section
  display: flex
  margin-left: 66px
  @media screen and (max-width: $mobile-large)
    margin-left: 0

.footer__logo
  display: block
  width: 128px
  height: 23px
  margin-top: 21px
  margin-bottom: 42px
  background-image: url('/assets/img/logo.svg')
  background-repeat: no-repeat
  @media screen and (max-width: $mobile)
    width: 85px
    margin-top: 12px
    margin-bottom: 19px

.footer__social-list
  display: flex
  justify-content: space-around
  align-items: center
  width: 220px
  height: 35px
  margin-top: 7px
  margin-right: 68px
  margin-left: auto
  margin-bottom: 0
  padding: 0
  list-style: none
  @media screen and (max-width: $mobile-large)
    justify-content: space-between
    width: 136px
    margin-top: 14px
    margin-right: 0
  @media screen and (max-width: $mobile)
    margin-top: 0

.footer__social-item--ru
  display: block
  @media screen and (max-width: $mobile-large)
    display: none

.footer__social-link
  &--ru
    position: relative
    font-weight: normal
    font-size: 17px
    line-height: 18px
    color: #37373f
    &:after
      content: ''
      position: absolute
      top: 7px
      right: -15px
      width: 11px
      height: 6px
      background-image: url('/assets/img/arrow.svg');
    &:hover
      text-decoration: underline

.footer__social-link
  &:hover
    transform translateY(-5px)
    transition: .5s;
    @media screen and (max-width: $mobile)
      transform none

.footer__social-vk
  display: block
  width: 26px
  height: 16px
  background-image: url('/assets/img/vk.svg');

.footer__social-facebook
  display: block
  width: 27px
  height: 26px
  background-image: url('/assets/img/Facebook.svg');

.footer__social-instagram
  display: block
  width: 26px
  height: 26px
  background-image: url('/assets/img/Instragram.svg');

.footer__bottom-section
  padding-top: 10px
  padding-bottom: 31px
  background: #FAF9F8
  @media screen and (max-width: $mobile-large)
    margin: 0 auto
    padding-top: 26px
    width: 415px
    background: #FFFFFF
    border-top: 0.5px solid #B3B3B3
  @media screen and (max-width: $mobile)
    width: 320px

.footer__mastercard-icon
  display: inline-block
  width: 39px
  height: 25px
  margin-right: 20px
  margin-left: 66px
  background-image: url('/assets/img/MC.svg')
  background-size: cover
  @media screen and (max-width: $mobile-large)
    margin-left: 5px
  @media screen and (max-width: $mobile)
    width: 34px
    height: 21px
    margin-left: 0
    margin-right: 17px
  &:hover
    transform translateY(-5px)
    transition: .5s;
    @media screen and (max-width: $mobile)
      transform none

.footer__visa-icon
  display: inline-block
  width: 39px
  height: 27px
  background-image: url('/assets/img/VISA.svg')
  background-size: cover
  @media screen and (max-width: $mobile)
    width: 33px
    height: 23px
    margin-right: 17px
  &:hover
    transform translateY(-5px)
    transition: .5s;
    @media screen and (max-width: $mobile)
      transform none

.footer__paypal-icon
  display: none
  @media screen and (max-width: $mobile)
    display: inline-block
    width: 34px
    height: 23px
    background-image: url('/assets/img/PP.svg')
    background-size: cover
  &:hover
    transform translateY(-5px)
    transition: .5s;
    @media screen and (max-width: $mobile)
      transform none

.footer__phone
  position: relative
  top: -41px
  display: block
  margin-bottom: 8px
  text-align: center
  font-weight: normal
  font-size: 15px
  line-height: 17px
  color: #B3B3B3
  @media screen and (max-width: $mobile-large)
    position: static
    margin-top: 19px
  &:hover
    text-decoration: underline

.footer__copyright
  position: relative
  top: -41px
  display: block
  text-align: center
  font-weight: normal
  font-size: 14px
  line-height: 17px
  color: #B3B3B3
  @media screen and (max-width: $mobile-large)
    position: static

.footer__ru
  display: none
  @media screen and (max-width: $mobile-large)
    position: relative
    display: inline-block
    float: right;
    margin-right: 16px
    font-weight: normal
    font-size: 17px
    line-height: 18px
    color: #37373f
    &:after
      content: ''
      position: absolute
      top: 7px
      right: -15px
      width: 11px
      height: 6px
      background-image: url('/assets/img/arrow.svg');