.map
  position: relative
  height: 509px
  margin-bottom: 127px
  @media screen and (max-width: $mobile-large)
    height: 850px
    margin-bottom: 30px
  @media screen and (max-width: $mobile)
    margin-bottom: 41px

.map-container
  width: 100%
  border: none
  @media screen and (max-width: $mobile-large)
    position: relative
    height: 423px
    margin-bottom: 35px
  @media screen and (max-width: $mobile)
    margin-bottom: 45px

.meeting-info
  position: relative;
  top: -497px;
  width: 420px
  height: 469px
  padding-top: 50px
  padding-left: 28px
  background: #FFFFFF
  border: 1px solid #C7C7C7
  box-sizing: border-box
  @media screen and (max-width: $mobile-large)
    position: static
    width: 100%
    height: 376px
    padding-top: 50px
    padding-left: 0
  @media screen and (max-width: $mobile)
    width: 274px
    height: 380px
    margin-left: 8px

.meeting-info__list
  display: block
  margin: 0
  padding: 0
  list-style: none
  @media screen and (max-width: $mobile-large)
    display: none

#meeting-info__list--mob
  display: none
  margin: 0
  padding: 0
  list-style: none
  @media screen and (max-width: $mobile-large)
    display: block

.meeting-info__item
  height: 61px
  margin-bottom: 33px
  @media screen and (max-width: $mobile-large)
    display: flex
    flex-direction: column
    align-items: center
    height: 100px

.meeting-info__number
  display: block
  float: left;
  width: 61px
  height: 61px
  margin-right: 19px
  padding-top: 6px
  font-weight: bold
  font-size: 35px
  line-height: 51px
  text-align: center
  color: #FFFFFF
  box-sizing: border-box
  border-radius: 50%
  background: #FC9B09
  @media screen and (max-width: $mobile)
    float: none
    width: 66px
    height: 66px
    margin-right: 0
    margin-bottom: 22px

.meeting-info__text
  margin-top: 0
  margin-bottom: 5px
  padding-top: 5px
  font-weight: 500
  font-size: 20px
  line-height: 27px
  @media screen and (max-width: $mobile)
    font-size: 18px

.meeting-info__description
  margin: 0
  font-weight: normal
  font-size: 20px
  line-height: 26px
  @media screen and (max-width: $mobile)
    font-size: 14px
    line-height: 20px

.meeting-info__item-author
  margin-top: 44px
  @media screen and (max-width: $mobile-large)
    margin-top: 34px
    margin-left: 29px

.meeting-info__author-photo
  float: left
  margin-right: 10px

.meeting-info__author-text
  margin-top: 0
  margin-bottom: -3px
  font-weight: 500
  font-size: 21px
  line-height: 27px
  @media screen and (max-width: $mobile)
    margin-bottom: 2px
    font-size: 18px
    line-height: 20px

.meeting-info__author-description
  margin: 0
  font-weight: normal
  font-size: 18px
  line-height: 26px
  @media screen and (max-width: $mobile)
    font-size: 16px

.meeting-info__author-link
  display: block
  font-weight: 500
  font-size: 16px
  line-height: 21px
  color: #5286EC
  @media screen and (max-width: $mobile)
    margin-left: 79px
  &:hover
    text-decoration: underline