.photos
  position: relative
  margin-bottom: 36px
  padding-bottom: 21px
  @media screen and (max-width: $mobile)
    margin-bottom: 0
    padding-bottom: 0
  &:after
    content: ''
    position: absolute
    bottom: 0
    left: 0
    width: 1140px
    height: 1px
    background-color: #C7C7C7
    @media screen and (max-width: $laptop)
      width: 960px
    @media screen and (max-width: $tablet)
      width: 730px
    @media screen and (max-width: $mobile-large)
      width: 385px
    @media screen and (max-width: $mobile)
      width: 0

.photos__header
  margin: 0
  margin-bottom: 34px
  font-weight: 500
  font-size: 23px
  line-height: 29px
  @media screen and (max-width: $mobile)
    width: 250px
    margin: 0 auto
    margin-bottom: 31px
    font-size: 31px
    line-height: 34px
    text-align: center

.photos__list
  display: flex
  justify-content: space-around
  flex-wrap wrap
  margin: 0
  margin-bottom: 30px
  padding: 0
  list-style: none
  @media screen and (max-width: $mobile-large)
    display: none
  @media screen and (max-width: $mobile)
    margin-bottom: 30px

#photos__list--carousel
  display: none
  @media screen and (max-width: $mobile-large)
    display: flex

#photos__list--carousel.photos__image
  width: 275px

.photos__image
  width: 275px
  height: 185px
  @media screen and (max-width: $mobile-large)
    height: 245px
  @media screen and (max-width: $mobile)
    height: 185px

.photos__item
  margin-bottom: 11px

.photos__all-photos
  position: relative
  left: -8px
  display: block
  margin: 0 auto
  font-weight: 500
  font-size: 19px
  line-height: 25px
  color: #5286EC
  border: none
  text-align: center
  background-color: transparent
  cursor: pointer
  @media screen and (max-width: $mobile)
    display: none
  &:before
    content: ''
    position: absolute
    top: 12px
    left: -15px
    width: 11px
    height: 6px
    background-image: url('/assets/img/arrow.svg');
  &:after
    content: ''
    position: absolute
    top: 12px
    right: -17px
    width: 11px
    height: 6px
    background-image: url('/assets/img/arrow.svg');
  &:hover
    text-decoration: underline

#photos-container
  display: none
  justify-content: space-around
  flex-wrap: wrap
  margin: 0
  margin-bottom: 30px
  padding: 0
  img
    margin-bottom: 11px