.stars__container
  display: inline-block

.stars__star
  display: inline-block
  width: 20px
  height: 20px
  margin-right: 5px
  background-image: url('/assets/img/star.svg');
  background-repeat: no-repeat;